html {
  --md-sys-color-primary: theme(colors.light.primary);
  --md-sys-color-surface-tint: theme(colors.light.surface-tint);
  --md-sys-color-on-primary: theme(colors.light.on-primary);
  --md-sys-color-primary-container: theme(colors.light.primary-container);
  --md-sys-color-on-primary-container: theme(colors.light.on-primary-container);
  --md-sys-color-secondary: theme(colors.light.secondary);
  --md-sys-color-on-secondary: theme(colors.light.on-secondary);
  --md-sys-color-secondary-container: theme(colors.light.secondary-container);
  --md-sys-color-on-secondary-container: theme(colors.light.on-secondary-container);
  --md-sys-color-tertiary: theme(colors.light.tertiary);
  --md-sys-color-on-tertiary: theme(colors.light.on-tertiary);
  --md-sys-color-tertiary-container: theme(colors.light.tertiary-container);
  --md-sys-color-on-tertiary-container: theme(colors.light.on-tertiary-container);
  --md-sys-color-error: theme(colors.light.error);
  --md-sys-color-on-error: theme(colors.light.on-error);
  --md-sys-color-error-container: theme(colors.light.error-container);
  --md-sys-color-on-error-container: theme(colors.light.on-error-container);
  --md-sys-color-background: theme(colors.light.background);
  --md-sys-color-on-background: theme(colors.light.on-background);
  --md-sys-color-surface: theme(colors.light.surface);
  --md-sys-color-on-surface: theme(colors.light.on-surface);
  --md-sys-color-surface-variant: theme(colors.light.surface-variant);
  --md-sys-color-on-surface-variant: theme(colors.light.on-surface-variant);
  --md-sys-color-outline: theme(colors.light.outline);
  --md-sys-color-outline-variant: theme(colors.light.outline-variant);
  --md-sys-color-shadow: theme(colors.light.shadow);
  --md-sys-color-scrim: theme(colors.light.scrim);
  --md-sys-color-inverse-surface: theme(colors.light.inverse-surface);
  --md-sys-color-inverse-on-surface: theme(colors.light.inverse-on-surface);
  --md-sys-color-inverse-primary: theme(colors.light.inverse-primary);
  --md-sys-color-primary-fixed: theme(colors.light.primary-fixed);
  --md-sys-color-on-primary-fixed: theme(colors.light.on-primary-fixed);
  --md-sys-color-primary-fixed-dim: theme(colors.light.primary-fixed-dim);
  --md-sys-color-on-primary-fixed-variant: theme(colors.light.on-primary-fixed-variant);
  --md-sys-color-secondary-fixed: theme(colors.light.secondary-fixed);
  --md-sys-color-on-secondary-fixed: theme(colors.light.on-secondary-fixed);
  --md-sys-color-secondary-fixed-dim: theme(colors.light.secondary-fixed-dim);
  --md-sys-color-on-secondary-fixed-variant: theme(colors.light.on-secondary-fixed-variant);
  --md-sys-color-tertiary-fixed: theme(colors.light.tertiary-fixed);
  --md-sys-color-on-tertiary-fixed: theme(colors.light.on-tertiary-fixed);
  --md-sys-color-tertiary-fixed-dim: theme(colors.light.tertiary-fixed-dim);
  --md-sys-color-on-tertiary-fixed-variant: theme(colors.light.on-tertiary-fixed-variant);
  --md-sys-color-surface-dim: theme(colors.light.surface-dim);
  --md-sys-color-surface-bright: theme(colors.light.surface-bright);
  --md-sys-color-surface-container-lowest: theme(colors.light.surface-container-lowest);
  --md-sys-color-surface-container-low: theme(colors.light.surface-container-low);
  --md-sys-color-surface-container: theme(colors.light.surface-container);
  --md-sys-color-surface-container-high: theme(colors.light.surface-container-high);
  --md-sys-color-surface-container-highest: theme(colors.light.surface-container-highest);
}

html.dark {
  --md-sys-color-primary: theme(colors.dark.primary);
  --md-sys-color-surface-tint: theme(colors.dark.surface-tint);
  --md-sys-color-on-primary: theme(colors.dark.on-primary);
  --md-sys-color-primary-container: theme(colors.dark.primary-container);
  --md-sys-color-on-primary-container: theme(colors.dark.on-primary-container);
  --md-sys-color-secondary: theme(colors.dark.secondary);
  --md-sys-color-on-secondary: theme(colors.dark.on-secondary);
  --md-sys-color-secondary-container: theme(colors.dark.secondary-container);
  --md-sys-color-on-secondary-container: theme(colors.dark.on-secondary-container);
  --md-sys-color-tertiary: theme(colors.dark.tertiary);
  --md-sys-color-on-tertiary: theme(colors.dark.on-tertiary);
  --md-sys-color-tertiary-container: theme(colors.dark.tertiary-container);
  --md-sys-color-on-tertiary-container: theme(colors.dark.on-tertiary-container);
  --md-sys-color-error: theme(colors.dark.error);
  --md-sys-color-on-error: theme(colors.dark.on-error);
  --md-sys-color-error-container: theme(colors.dark.error-container);
  --md-sys-color-on-error-container: theme(colors.dark.on-error-container);
  --md-sys-color-background: theme(colors.dark.background);
  --md-sys-color-on-background: theme(colors.dark.on-background);
  --md-sys-color-surface: theme(colors.dark.surface);
  --md-sys-color-on-surface: theme(colors.dark.on-surface);
  --md-sys-color-surface-variant: theme(colors.dark.surface-variant);
  --md-sys-color-on-surface-variant: theme(colors.dark.on-surface-variant);
  --md-sys-color-outline: theme(colors.dark.outline);
  --md-sys-color-outline-variant: theme(colors.dark.outline-variant);
  --md-sys-color-shadow: theme(colors.dark.shadow);
  --md-sys-color-scrim: theme(colors.dark.scrim);
  --md-sys-color-inverse-surface: theme(colors.dark.inverse-surface);
  --md-sys-color-inverse-on-surface: theme(colors.dark.inverse-on-surface);
  --md-sys-color-inverse-primary: theme(colors.dark.inverse-primary);
  --md-sys-color-primary-fixed: theme(colors.dark.primary-fixed);
  --md-sys-color-on-primary-fixed: theme(colors.dark.on-primary-fixed);
  --md-sys-color-primary-fixed-dim: theme(colors.dark.primary-fixed-dim);
  --md-sys-color-on-primary-fixed-variant: theme(colors.dark.on-primary-fixed-variant);
  --md-sys-color-secondary-fixed: theme(colors.dark.secondary-fixed);
  --md-sys-color-on-secondary-fixed: theme(colors.dark.on-secondary-fixed);
  --md-sys-color-secondary-fixed-dim: theme(colors.dark.secondary-fixed-dim);
  --md-sys-color-on-secondary-fixed-variant: theme(colors.dark.on-secondary-fixed-variant);
  --md-sys-color-tertiary-fixed: theme(colors.dark.tertiary-fixed);
  --md-sys-color-on-tertiary-fixed: theme(colors.dark.on-tertiary-fixed);
  --md-sys-color-tertiary-fixed-dim: theme(colors.dark.tertiary-fixed-dim);
  --md-sys-color-on-tertiary-fixed-variant: theme(colors.dark.on-tertiary-fixed-variant);
  --md-sys-color-surface-dim: theme(colors.dark.surface-dim);
  --md-sys-color-surface-bright: theme(colors.dark.surface-bright);
  --md-sys-color-surface-container-lowest: theme(colors.dark.surface-container-lowest);
  --md-sys-color-surface-container-low: theme(colors.dark.surface-container-low);
  --md-sys-color-surface-container: theme(colors.dark.surface-container);
  --md-sys-color-surface-container-high: theme(colors.dark.surface-container-high);
  --md-sys-color-surface-container-highest: theme(colors.dark.surface-container-highest);
}
